<header id="masthead" class="site-header" role="banner">
    <div class="container">

        <div class="gravatar">
            {{#if @blog.logo}}<a href="about"><img src="{{@blog.logo}}" alt="Blog Logo" class="avatar avatar-100 photo" height="100" width="100" title="About Me" /></a>{{/if}}
        </div><!--/ author -->

        <div id="brand">
            <h1 class="site-title"><a href="{{@blog.url}}" title="{{@blog.title}}" rel="home">{{@blog.title}}</a></h1>
	    <h2><span>{{@blog.description}}</span></h2>
        </div><!-- /brand -->

	<div id="logos">
	    <div id="logo">
	        <a href="https://github.com/jacklund"><img src="/assets/img/GitHub-Mark-32px.png" height="24px" width="24px" title="My GitHub Page" /></a>
	    </div>
	    <div id="logo">
	        <a href="http://www.linkedin.com/profile/view?id=379052"><img src="/assets/img/LinkedIn-InBug-2C.png" height="24px" width="24px" title="My LinkedIn Profile" /></a>
	    </div>
	</div>

        <!-- <nav role="navigation" class="site-navigation main-navigation">
          <ul>
            <li><a href="about">About</a></li>
            <li><a href="pgp">PGP Key</a></li>
          </ul>

        </nav> --><!-- .site-navigation .main-navigation -->

        <div class="clear"></div>
    </div><!--/container -->

</header>
